In [ ]:
#Lectura desde archivo texto plano: csv
summary_df = spark.read.csv('dbfs:/FileStore/curso_databricks/2015_summary.csv', header="true", inferSchema="true")

In [ ]:
#Mostramos los primeros 10 registros
summary_df.show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 10 rows

In [ ]:
#Esquema de metadatos
#Importante: el campo count, se leyo como un integer
summary_df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [ ]:
#Lectura desde archivo de texto plano: data
persona_df = spark.read.format("csv").option("header", "true").option("delimiter", "|").option("encoding", "ISO-8859-1").load("dbfs:///FileStore/curso_databricks/persona.data")

In [ ]:
#Mostramos los primeros 10 registros
persona_df.show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|  20095|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34|   9298|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|  10853|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29|   3387|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|  22102|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70|   7800|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52|   8112|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|  17040|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69|   6834|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19|   7996|         7|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [ ]:
#Esquema de metadatos
#Importante todos los campos fueron reconocidos con el tipo de dato "string"
persona_df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- TELEFONO: string (nullable = true)
 |-- CORREO: string (nullable = true)
 |-- FECHA_INGRESO: string (nullable = true)
 |-- EDAD: string (nullable = true)
 |-- SALARIO: string (nullable = true)
 |-- ID_EMPRESA: string (nullable = true)

In [ ]:
#Lectura de archivos semi-estructurados JSON
transacciones_df = spark.read.format("json").option("multiLine", False).load("dbfs:///FileStore/curso_databricks/transacciones.json")

In [ ]:
#Mostramos los primeros 10 registros
#No podemos ver bien los datos ya que los trunca
transacciones_df.show(10)

+--------------+--------------------+--------------------+
|       EMPRESA|             PERSONA|         TRANSACCION|
+--------------+--------------------+--------------------+
|   {5, Amazon}|{[{59, 9811935}, ...|{2021-01-23, 2628.0}|
|      {9, IBM}|{[{50, 9912937}, ...|{2021-01-23, 4261.0}|
|  {7, Samsung}|{[{53, 9769557}, ...|{2021-01-23, 1429.0}|
|   {5, Amazon}|{[{51, 9733329}, ...|{2021-01-23, 3385.0}|
|   {4, Toyota}|{[{52, 9091334}, ...|{2021-01-23, 3514.0}|
|      {9, IBM}|{[{59, 9708669}, ...| {2021-01-23, 823.0}|
|{2, Microsoft}|{null, 47, 31, Ry...|{2021-01-23, 3724.0}|
|    {10, Sony}|{[{51, 9443174}],...|{2021-01-23, 3429.0}|
|   {4, Toyota}|{[{54, 9375039}, ...|{2021-01-23, 4267.0}|
|      {9, IBM}|{[{59, 9227653}, ...| {2021-01-23, 796.0}|
+--------------+--------------------+--------------------+
only showing top 10 rows

In [ ]:
#Mostramos los datos sin truncar
transacciones_df.show(10, False)

+--------------+------------------------------------------------------------------------------------------------------+--------------------+
|EMPRESA       |PERSONA                                                                                               |TRANSACCION         |
+--------------+------------------------------------------------------------------------------------------------------+--------------------+
|{5, Amazon}   |{[{59, 9811935}, {53, 9423163}], 33, 26, Brenden, 20549.0}                                            |{2021-01-23, 2628.0}|
|{9, IBM}      |{[{50, 9912937}, {54, 9046676}, {55, 9874284}, {58, 9746053}, {53, 9058704}], 31, 21, Carissa, 1952.0}|{2021-01-23, 4261.0}|
|{7, Samsung}  |{[{53, 9769557}, {59, 9754523}, {52, 9063371}, {55, 9301624}, {56, 9770100}], 42, 73, Fiona, 9960.0}  |{2021-01-23, 1429.0}|
|{5, Amazon}   |{[{51, 9733329}, {57, 9619332}, {51, 9087416}, {50, 9486747}], 59, 14, Allen, 16289.0}                |{2021-01-23, 3385.0}|
|{4, Toyota}   |{[{52, 9091334}, {59, 9831571}], 59, 80, Ebony, 3600.0}                                               |{2021-01-23, 3514.0}|
|{9, IBM}      |{[{59, 9708669}, {52, 9751344}], 22, 53, Zachery, 23820.0}                                            |{2021-01-23, 823.0} |
|{2, Microsoft}|{null, 47, 31, Rylee, 21591.0}                                                                        |{2021-01-23, 3724.0}|
|{10, Sony}    |{[{51, 9443174}], 64, 55, Jennifer, 19013.0}                                                          |{2021-01-23, 3429.0}|
|{4, Toyota}   |{[{54, 9375039}, {58, 9397273}], 22, 45, Kylynn, 7040.0}                                              |{2021-01-23, 4267.0}|
|{9, IBM}      |{[{59, 9227653}, {56, 9409477}, {52, 9710151}], 22, 22, Kibo, 7449.0}                                 |{2021-01-23, 796.0} |
+--------------+------------------------------------------------------------------------------------------------------+--------------------+
only showing top 10 rows

In [ ]:
#Mostramos el esquema de metadatos
transacciones_df.printSchema()

root
 |-- EMPRESA: struct (nullable = true)
 |    |-- ID_EMPRESA: string (nullable = true)
 |    |-- NOMBRE_EMPRESA: string (nullable = true)
 |-- PERSONA: struct (nullable = true)
 |    |-- CONTACTO: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- PREFIJO: string (nullable = true)
 |    |    |    |-- TELEFONO: string (nullable = true)
 |    |-- EDAD: long (nullable = true)
 |    |-- ID_PERSONA: string (nullable = true)
 |    |-- NOMBRE_PERSONA: string (nullable = true)
 |    |-- SALARIO: double (nullable = true)
 |-- TRANSACCION: struct (nullable = true)
 |    |-- FECHA: string (nullable = true)
 |    |-- MONTO: double (nullable = true)